@media screen and (min-width:1024px) {
    section {
        height: 90vh;
    }

    section form {
        width: 30rem;
    }

    section form input {
        border-radius: 5px;
        width: 28rem;
        height: 2.5rem;
        padding: .5rem;
        border-color:grey;
        border: .5px solid #b0da12;
    }

    .role {
        width: 28rem;
        border-radius: 5px;
        height: 2.5rem;
        padding: .5rem;
        border-color:grey;
        border: .5px solid #b0da12;
    }

    .btn {
        width: 28rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn button {
        width: 28rem;
        height: 2.5rem;
        background-color: #b0da12;
        border: 1px solid;
        border-color: #b0da12;
        border-radius: 20rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 800;
    }
}

@media screen and (max-width:768px) {
    section {
        height: 100vh;
    }

    section form {
        width: 26rem;
    }

    section form input {
        border-radius: 5px;
        width: 24rem;
        height: 2.5rem;
        padding: .5rem;
        border-color:grey;
        border: .5px solid #b0da12;
    }

    .role {
        width: 24rem;
        border-radius: 5px;
        height: 2.5rem;
        padding: .5rem;
        border-color:grey;
        border: .5px solid #b0da12;
    }

    .btn {
        width: 24rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn button {
        width: 24rem;
        height: 2.5rem;
        background-color: #b0da12;
        border: 1px solid;
        border-color: #b0da12;
        border-radius: 20rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 800;
    }
}

@media screen and (max-width:426px) {
    section {
        height: 100vh;
    }

    section form {
        width: 20rem;
    }

    section form input {
        border-radius: 5px;
        width: 18rem;
        height: 2.5rem;
        padding: .5rem;
        border-color:grey;
        border: .5px solid #b0da12;
    }

    .role {
        width: 18rem;
        border-radius: 5px;
        height: 2.5rem;
        padding: .5rem;
        border-color:grey;
        border: .5px solid #b0da12;
    }

    .btn {
        width: 18rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn button {
        width: 18rem;
        height: 2.5rem;
        background-color: #b0da12;
        border: 1px solid;
        border-color: #b0da12;
        border-radius: 20rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 800;
    }
}

@media screen and (max-width:375px) {
    section {
        height: 100vh;
    }

    section form {
        width: 18rem;
    }

    section form input {
        border-radius: 5px;
        width: 16rem;
        height: 2.5rem;
        padding: .5rem;
        border-color:grey;
        border: .5px solid #b0da12;
    }

    .role {
        width: 16rem;
        border-radius: 5px;
        height: 2.5rem;
        padding: .5rem;
        border-color:grey;
        border: .5px solid #b0da12;
    }

    .btn {
        width: 16rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn button {
        width: 16rem;
        height: 2.5rem;
        background-color: #b0da12;
        border: 1px solid;
        border-color: #b0da12;
        border-radius: 20rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 800;
    }
}

@media screen and (max-width:320px) {
    section {
        height: 100vh;
    }

    section form {
        width: 16rem;
    }

    section form input {
        border-radius: 5px;
        width: 14rem;
        height: 2.5rem;
        padding: .5rem;
        border-color:grey;
        border: .5px solid #b0da12;
    }

    .role {
        width: 14rem;
        border-radius: 5px;
        height: 2.5rem;
        padding: .5rem;
        border-color:grey;
        border: .5px solid #b0da12;
    }

    .btn {
        width: 14rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn button {
        width: 14rem;
        height: 2.5rem;
        background-color: #b0da12;
        border: 1px solid;
        border-color: #b0da12;
        border-radius: 20rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 800;
    }
}